*{
    padding: 0;
    height: 0;
    width: 0;
}




#menu-container{
    display: flex;
    width: 85em;
    height: 4em;
    padding-left: 2em;
    margin: 1em 12em;
}

.form-control{
    width:10% !important;
    margin-right:1em;
}

img{
    border: 3px solid aqua;
    width: 74em;
    height: 41em;
    margin: 0 14em;
    border-radius: 0.50em;
    position: relative;
    bottom: 3em;
}


/**hide and show elements**/
#biasmapsDomain{
    display: none;
}

#biaspdfDomain, #diffmapsDomain{
    display: none;
}

#modelFiveLabel, #modelFive, #maskLabel, #maskSelect, #periodLabel, #periodSelect, #domainLabel, #n7,#n28,#biaspdfDomain, #diffmapsDomain{
   display: none;
}

#n7, #n28, #nLabel, #oceanMask,#noMask,#landMask{
    display:none ;
}




