.who-we-are{
	padding-bottom: 20px;
}

.mission{
	padding-bottom: 20px;
}

.vision{
	padding-bottom: 20px;
}

.about-leadership{
	border-top-color: #0099d8;
	border-top-width: 2px;
	border-top-style: solid;
}


#web {
  background: #f3f3f3; 
  width: 560px; 
  height: 560px; 
  border: 1px solid #000; 
  position: relative; 
}

#center-sphere { 
  width: 295px; 
  height: 295px; 
  position: absolute; 
  left: 142px; 
  top: 132px; 
  border: 2px rgb(115,166,183) solid;
  border-radius: 50%;
  text-align: center;
}